.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 12px;
  font-weight: 700;
  line-height: 1;
  width: 335px;
  margin: 40px 0;

  &:hover {
    opacity: 50%;
  }
}
.storybook-button--sm {
  padding: 10px 16px;
  font-size: 12px;
}
.storybook-button--md {
  padding: 11px 20px;
  font-size: 14px;
}
.storybook-button--lg {
  padding: 12px 24px;
  font-size: 16px;
}
