.result-container {
  background-color: grey;

  .wrapper {
    display: flex;
    flex-direction: column;

    .header {
      .text {
        text-align: center;
        padding: 17px;
        font-size: 15px;
      }
    }

    .result-content {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;

      .result-wrapper {
        width: 100vw;
        /*margin: 0 20px;*/
        flex: 1 1;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .img {
        border-radius: 12px;
        width: 600px;
      }

      .info {
        gap: 12px;
        /*max-width: 300px;*/
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }
}
